.logoImg {
  background-image: url("../../public/img/29_desktop.jpg");
  background-size: cover;
  background-size: 100% 100%;
  height: 100%;

}

.styledinput {
  width: 300px;
  padding: 10px;
  /* margin-top: 20px; */
  border: 2px solid #ff0000;
  /* Red border */
  background-color: #ffffff;
  /* White background */
  color: #ff0000;
  /* Red text color */
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.sbutton {
  display: inline-block;
  padding: 10px 20px;
  background: linear-gradient(0deg, #3498db 50%, #2980b9 50%);
  color: #fff;
  text-decoration: none;
  transition: transform 0.2s, box-shadow 0.2s;
  border: none;
}

/* Add 3D effect on hover */
.sbutton:hover {
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.imagecontainer {
  position: relative;
  text-align: center;
}

.image2 {
  display: block;
  margin: 0 auto;
  width: 20%;
  /* Center the image horizontally */
}

.textoverlay {
  position: absolute;
  top: 37%;
  /* Center the text vertically */
  left: 50%;
  /* Center the text horizontally */
  transform: translate(-50%, -50%);
  /* Center the text both vertically and horizontally */
  /* background: rgba(0, 0, 0, 0.5); */
  font-size: large;
  color: white;
  padding: 10px;
}


@media (max-width: 768px) {
  .logoImg {
    background-image: url("../../public/img/29_mobile.jpg");
  }

  .image2 {
    width: 80%
  }
}